.advantages {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.advantages__icon {
  height: 37px;
  margin: 29px 0 17px;
}

.advantages__icon-image {
  fill: $tiffany;
}

@media (min-width: $tablet-width) {
  .advantages__description {
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__icon {
    margin-top: 58px;
    margin-bottom: 16px;
  }

  .advantages:first-of-type .advantages__icon {
    margin-top: 50px;
  }
}
