.card-manufacturer {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 32px auto 59px;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: $black;
  box-shadow: inset 0 0 0 1px #ececec;
}

.card-manufacturer__title {
  position: relative;
  margin: 23px 28px 24px;
  padding-left: 63px;
  font-size: 17px;
  font-weight: bold;
  text-align: left;

  &::before {
    position: absolute;
    top: 6px;
    left: 6px;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url(../../img/icon-video.svg);
    background-repeat: no-repeat;
  }
}

.card-manufacturer__video-container {
  width: 260px;
  height: 150px;
  background: url("../../img/video-mobile@1x.jpg") no-repeat center 0 $light-gray;
}

.card-manufacturer__text {
  color: $d-grey;
  margin: 27px 34px 25px;
}

.card-manufacturer__order {
  margin: 0 auto 32px;
  width: 192px;
  padding: 15px 20px 13px;
}

@media (min-width: $tablet-width) {
  .card-manufacturer {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin-bottom: 64px;
  }

  .card-manufacturer__title {
    order: 2;
    margin: 38px 40px 8px;
    padding-left: 65px;
    font-size: 20px;

    &::before {
      top: -5px;
      left: 1px;
    }
  }

  .card-manufacturer__text {
    margin: 24px 40px 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .card-manufacturer__video-container {
    order: 1;
    width: 668px;
    height: 455px;
    background-size: cover;
  }

  .card-manufacturer__wrapper-footer {
    order: 3;
  }

  .card-manufacturer__order {
    margin: 0 auto 45px;
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .card-manufacturer {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 1050px;
    margin-top: 35px;
    margin-bottom: 105px;
  }

  .card-manufacturer__title {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 230px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 55px;
    padding-left: 0;

    &::before {
      top: 1px;
      left: 2px;
    }
  }

  .card-manufacturer__text {
    margin: 24px 40px 46px 78px;
  }

  .card-manufacturer__video-container {
    width: 682px;
  }

  .card-manufacturer__wrapper-footer {
    margin-top: 152px;
    width: 368px;
  }

  .card-manufacturer__order {
    width: 230px;
    margin: 0 38px 45px 80px;
  }
}
