.card-manufacturer {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 32px auto 59px;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: $black;
  box-shadow: inset 0 0 0 1px #ececec;

  &:hover {
    box-shadow: inset 0 0 0 1px #ececec, 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: inset 0 0 0 1px #ececec, 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-manufacturer__title {
  position: relative;
  margin: 23px 28px 24px;
  padding-left: 63px;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}

.card-manufacturer__title--icon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 32px;
  fill: $tiffany;
}

.card-manufacturer__video-container {
  position: relative;
  width: 260px;
  height: 150px;
  background: url("../img/video-mobile@1x.jpg") no-repeat center 0 $light-gray;
  background-size: cover;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 101px;
    height: 77px;
    background-image: url("../img/icon-play.svg");
    background-size: cover;
    background-position: 50% 50%;
    transform: translate3d(-50%, -50%, 0);

    &:hover {
      width: 121px;
      height: 92px;
    }
  }

  &:hover {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 121px;
      height: 92px;
      background-image: url("../img/icon-play.svg");
      background-size: cover;
      background-position: 50% 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &:active {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 81px;
      height: 62px;
      background-image: url("../img/icon-play.svg");
      background-size: cover;
      background-position: 50% 50%;
      transform: translate3d(-50%, -50%, 0);
      opacity: 0.3;
    }
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .card-manufacturer__video-container {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.card-manufacturer__text {
  color: $d-grey;
  margin: 27px 34px 25px;
}

.card-manufacturer__order {
  margin: 0 auto 32px;
  width: 192px;
  padding: 15px 20px 13px;
}

@media (min-width: $tablet-width) {
  .card-manufacturer {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin-bottom: 64px;
  }

  .card-manufacturer__title {
    order: 2;
    margin: 38px 40px 8px;
    padding-left: 65px;
    font-size: 20px;

    &::before {
      top: -5px;
      left: 1px;
    }
  }

  .card-manufacturer__title--icon {
    top: -5px;
    left: 2px;
  }

  .card-manufacturer__text {
    margin: 24px 40px 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .card-manufacturer__video-container {
    order: 1;
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .card-manufacturer__video-container {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .card-manufacturer__wrapper-footer {
    order: 3;
  }

  .card-manufacturer__order {
    margin: 0 auto 45px;
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .card-manufacturer {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 1050px;
    margin-top: 35px;
    margin-bottom: 105px;
  }

  .card-manufacturer__title {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 230px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 55px;
    padding-left: 0;

    &::before {
      top: 1px;
      left: 2px;
    }
  }

  .card-manufacturer__title--icon {
    top: 2px;
  }

  .card-manufacturer__text {
    margin: 24px 40px 46px 78px;
  }

  .card-manufacturer__video-container {
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .card-manufacturer__video-container {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .card-manufacturer__wrapper-footer {
    margin-top: 152px;
    width: 368px;
  }

  .card-manufacturer__order {
    width: 230px;
    margin: 0 38px 45px 80px;
  }
}
