.category-wrapper {
  padding: 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: $white;
}

.category-wrapper--emerald-light {
  background: $tiffany;
}

.category-wrapper--emerald-dark {
  background: $tiffany-dark;
}
