.contacts {
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: $d-grey;
}

.contacts__title {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: bold;
}

.contacts__table {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.contacts__e-mail-link {
  text-decoration: none;
  color: $d-grey;
  border-bottom: 1px solid $tiffany;
}

.contacts__address {
  vertical-align: top;
}
