.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  padding: 28px 30px 34px;
  padding-left: 0;
  font-weight: bold;
  line-height: 18px;
}

.copyright__link-image {
  fill: $tiffany;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $black;

  &:hover {
    .copyright__link-image {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;

    .copyright__link-image {
      fill: #46c1ae;
    }
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    padding: 0;
    padding-right: 30px;
  }
}
