.form {
  width: 260px;
  margin: 0 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid $tiffany;
}

.form__title {
  margin: 22px 0 32px;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: $d-grey;
}

.form__legend {
  margin-top: -10px;
  width: 30px;
  background: #ffffff;
  padding-right: 30px;
  line-height: 16px;
  text-transform: uppercase;
  color: $tiffany;
}

.form__e-mail .form__legend {
  width: 59px;
  padding-right: 20px;
}

.form__radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 13px;
  &:first-of-type {
    margin-top: 35px;
  }
  &:last-of-type {
    margin-top: 24px;
    margin-bottom: 52px;

  }
}

.form__radio-label {
  position: relative;
  padding-left: 63px;

  &::before {
    //display: block;
    position: absolute;
    left: 0px;
    top: -9px;
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid $d-grey;
    border-radius: 100%;
  }
}

.form__radio-type:checked + .form__radio-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #62d1ba;
}

.form__checkbox-label {
  position: relative;
  padding-left: 63px;

  &::before {
    //display: block;
    position: absolute;
    top: -11px;
    left: 0;
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid $d-grey;
  }
}

.form__checkbox-type:checked + .form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;
  width: 22px;
  height: 16px;
  background: url(../../img/icon-tick.svg) no-repeat;
  background-size: cover;
}

.form__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 19px;
  &:first-of-type {
    margin-top: 37px;
  }
  &:last-of-type {
    margin-bottom: 50px;
  }
}

//.form__checkbox-label {
//  padding-left: 23px;
//}

.form__radio-type, .form__checkbox-type {
  display: none;
  //width: 40px;
  //height: 40px;
  //margin: 0;
  //padding-right: 30px;
}

.form__name {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  margin-bottom: 22px;
  &:first-of-type {
    margin-top: 30px;
  }
  &:last-of-type {
    margin-bottom: 39px;
  }
}

.form__name-input {
  padding: 17px 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: $d-grey;
  border: none;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__number-wrapper {
  margin-top: 5px;
  margin-bottom: 40px;
}

.form__e-mail-wrapper {
  margin-top: 5px;
  margin-bottom: 40px;
}

.form__number-input, .form__e-mail-input {
  width: 100%;
  padding: 19px 0 18px;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: $d-grey;
  border: none;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__extra-wrapper {
  margin-top: 26px;
  margin-bottom: 13px;
}

.form__extra-textarea {
  width: 260px;
  height: 142px;
  resize: none;
  box-sizing: border-box;
  padding: 16px;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: $d-grey;
  border: none;
  box-shadow: inset 0px 0 0px 2px rgba(0,0,0,1);
  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__required-text {
  margin: 0 0 31px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: $d-grey;
}

.form__order-button {
  width: 100%;
  margin-bottom: 55px;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .form {
    width: auto;
    margin: 0 50px;
  }

  .form__title {
    margin-top: 73px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    border-top: none;
  }

  .form__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .form__wrapper-mini {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
  }

  .form__color-direction {
    flex-direction: row;
  }

  .form__legend {
    margin-top: 40px;
    padding-right: 0;
    width: 162px;
    background: #ffffff;
    padding-top: 0;
    line-height: 16px;
    font-size: 17px;
  }

  .form__radio, .form__checkbox {
    display: flex;
    margin: 0;
    margin-top: 30px;
    justify-content: flex-start;
    width: 250px;
    align-items: center;
    font-size: 19px;
    line-height: 18px;
  }

  .form__radio:first-of-type, .form__checkbox:first-of-type {
    margin: 0;
    margin-top: 30px;
  }

  .form__radio:last-of-type, .form__checkbox:last-of-type {
    margin-bottom: 0;
  }

  .form__name {
    flex-direction: row;
  }

  .form__name-label {
    padding-top: 15px;
    padding-right: 30px;
  }

  .form__name-input, .form__extra-textarea {
    width: 100%;
  }

  .form__wrapper-end {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    width: 700px;
    margin-left: 164px;
  }

  .form__wrapper-mini {
    width: 700px;
  }

  .form__checkbox {
    width: 263px;
  }

  .form__color-direction {
    width: 800px;
  }

  .form__wrapper-end {
    width: 700px;
    margin-left: 164px;
  }
}
