.form-modal {
  color: #444444;
}

.form-modal__title {
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.form-modal__toggles {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
}
