.form {
  width: 260px;
  margin: 0 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid $tiffany;
}

.form__title {
  margin: 30px 0 26px;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: $d-grey;
}

.form__legend {
  margin-top: -10px;
  width: 30px;
  background: #ffffff;
  padding-right: 30px;
  line-height: 16px;
  color: $tiffany;
}

.form__radio, .form__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  &:first-of-type {
    margin-top: 30px;
  }
  &:last-of-type {
    margin-bottom: 30px;
  }
}

.form__radio-type, .form__checkbox-type {
  width: 40px;
  height: 40px;
  margin: 0;
  padding-right: 30px;
}

.form__name {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  &:first-of-type {
    margin-top: 30px;
  }
  &:last-of-type {
    margin-bottom: 30px;
  }
}

.form__name-input {
  padding: 15px 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: $d-grey;
  border: none;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__number-wrapper, .form__e-mail-wrapper, .form__extra-wrapper {
  margin-top: 5px;
  margin-bottom: 30px;
}

.form__number-input, .form__e-mail-input {
  width: 100%;
  padding: 15px 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: $d-grey;
  border: none;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__extra-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form__extra-textarea {
  width: 260px;
  height: 140px;
  resize: none;
  box-sizing: border-box;
  padding: 16px;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: $d-grey;
  border: none;
  box-shadow: inset 0px 0 0px 2px rgba(0,0,0,1);
  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.form__required-text {
  margin: 0 0 30px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: $d-grey;
}

.form__order-button {
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .form {
    width: auto;
    margin: 0 50px;
  }

  .form__title {
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    border-top: none;
  }

  .form__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .form__wrapper-mini {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
  }

  .form__color-direction {
    flex-direction: row;
  }

  .form__legend {
    margin-top: 40px;
    padding-right: 0;
    width: 162px;
    background: #ffffff;
    padding-top: 0;
    line-height: 16px;
    font-size: 17px;
  }

  .form__radio, .form__checkbox {
    display: flex;
    margin: 0;
    margin-top: 30px;
    justify-content: flex-start;
    width: 250px;
    align-items: center;
    font-size: 19px;
    line-height: 18px;
  }

  .form__radio:first-of-type, .form__checkbox:first-of-type {
    margin: 0;
    margin-top: 30px;
  }

  .form__radio:last-of-type, .form__checkbox:last-of-type {
    margin-bottom: 0;
  }

  .form__name {
    flex-direction: row;
  }

  .form__name-label {
    padding-top: 15px;
    padding-right: 30px;
  }

  .form__name-input, .form__extra-textarea {
    width: 100%;
  }

  .form__wrapper-end {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    width: 700px;
    margin-left: 164px;
  }

  .form__wrapper-mini {
    width: 700px;
  }

  .form__checkbox {
    width: 263px;
  }

  .form__color-direction {
    width: 800px;
  }

  .form__wrapper-end {
    width: 700px;
    margin-left: 164px;
  }
}
