.page-footer {
  padding: 26px 30px 0;
  background: $light-gray;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin-bottom: 26px;
}

.page-footer__copyright {
  box-shadow: inset 0px 1px 0px 0px rgba(229,229,229,1);
}

@media (min-width: $tablet-width){
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 51px 50px 53px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    box-shadow: none;
  }
}

@media (min-width:$desktop-width) {
  .page-footer {
    padding: 48px 50px;
  }
}
