.product {
  padding: 30px 30px 42px;
  //margin: 0 auto;
}

.product__name {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.product__best {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $tiffany;
  text-transform: uppercase;
}

.product__description {
  margin: 21px 0 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: $d-grey;
}

.product__image {
  background: $light-gray;
}

.product__price {
  margin: 0;
  padding: 25px 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $d-grey;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 46px 50px 69px;
  }

  .product__name {
    width: 500px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
    z-index: 1;
  }

  .product__best {
    position: absolute;
    top: 57px;
    right: 50px;
    width: 130px;
    text-align: center;
    line-height: 17px;
    z-index: 1;
  }

  .product__description {
    width: 334px;
    margin-top: 0;
    margin-bottom: 32px;
    padding-right: 43px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 30px;
  }

  .product__wrapper {
    width: 334px;
    padding-right: 43px;
    box-sizing: border-box;
  }

  .product__price {
    padding-bottom: 34px;
    font-size: 20px;
  }

  .product__image {
    position: absolute;
    right: 50px;
    bottom: 69px;
    width: 334px;
    height: auto;
  }

  .product__order {
    width: 292px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding-top: 124px;
    padding-left: 225px;
    padding-bottom: 98px;
  }

  .product__name {
    width: 550px;
    font-size: 53px;
    line-height: 57px;
  }

  .product__best {
    top: 139px;
    left: 67px;
    right: auto;
  }

  .product__image {
    width: 525px;
    bottom: 98px;
  }

  .product__description {
    margin-bottom: 47px;
  }
}
