
.reviews {
  width: 320px;
  margin: 0;
  padding: 28px 30px 52px;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  box-sizing: border-box;
}

.reviews__title {
  margin: 0 0 24px;
  font-size: 25px;
  font-weight: bold;
}

.reviews__text {
  margin: 24px 0 27px;
}

.reviews__author {
  display: block;
  margin-top: 27px;
  margin-bottom: 3px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.reviews__author-login {
  margin-top: 3px;
  margin-bottom: 29px;
  font-size: 17px;
}

.reviews__item {
  margin: 0;
}

.reviews__write {
  padding: 13px 30px 15px;
  font-size: 18px;
}

.reviews__nav {
  margin: 29px auto 38px;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: $tablet-width;
    position: relative;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 17px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 77px;
    margin-bottom: 49px;
  }

  .reviews__text {
    margin-top: 49px;
    margin-bottom: 57px;
  }

  .reviews__author {
    font-size: 18px;
    margin-top: 57px;
    margin-bottom: 4px;
  }

  .reviews__author-login {
    margin: 0;
    margin-top: 2px;
    padding-bottom: 46px;
  }

  .reviews__write {
    position: absolute;
    top: 79px;
    right: 50px;
    padding: 15px 38px 13px;
    font-size: 17px;
  }

  .reviews__nav {
    position: absolute;
    bottom: 45px;
    right: 50px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
    padding-left: 225px;
    background-position: 50px 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 73px;
    margin-bottom: 47px;
  }

  .reviews__write {
    top: 73px;
    font-size: 17px;
  }

  .reviews__text {
    margin-top: 47px;
    margin-bottom: 46px;
  }

  .reviews__author {
    font-size: 17px;
    margin-top: 46px;
  }

  .reviews__author-login {
    padding-bottom: 100px;
  }

  .reviews__nav {
    bottom: 100px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__title {
    padding-top: 70px;
  }

  .reviews__write {
    top: 79px;
  }

  .reviews__text {
    margin-bottom: 41px;
    padding-right: 90px;
  }

  .reviews__author {
    margin-top: 41px;
    margin-bottom: 4px;
  }

  .reviews__author-login {
    padding-bottom: 94px;
  }
}
