
.reviews {
  width: calc(320px - 60px);
  margin: 0 auto;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
}

.reviews__author {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.reviews__author-login {
  font-size: 17px;
}

.reviews__item {
  margin: 0;
}

.reviews__nav{
  margin: 35px auto;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: $tablet-width;
    position: relative;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 17px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 82px;
    margin-bottom: 53px;
  }

  .reviews__text {
    margin-top: 53px;
    margin-bottom: 66px;
  }

  .reviews__author {
    font-size: 18px;
    margin-top: 66px;
    margin-bottom: 11px;
  }

  .reviews__author-login {
    margin: 0;
    margin-top: 11px;
    padding-bottom: 51px;
  }

  .reviews__write {
    position: absolute;
    top: 82px;
    right: 50px;
  }

  .reviews__nav {
    position: absolute;
    bottom: 51px;
    right: 50px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: $desktop-width;
    padding-left: 225px;
    background-position: 50px 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 73px;
    margin-bottom: 47px;
  }

  .reviews__write {
    top: 73px;
  }

  .reviews__text {
    margin-top: 47px;
    margin-bottom: 46px;
  }

  .reviews__author {
    font-size: 17px;
    margin-top: 46px;
  }

  .reviews__author-login {
    padding-bottom: 100px;
  }

  .reviews__nav {
    bottom: 100px;
  }
}
