.slider__prev {
  height: 52px;
  padding: 0 30px;
  border: 1px solid #000000;
}

.slider__next {
  height: 52px;
  padding: 0 30px;
  border: 1px solid #000000;
  border-left: none;
}

.slider__nav {
  display: flex;
  margin: 35px auto;
}
