.slider__prev {
  height: 52px;
  padding: 0 30px;
  border: 1px solid $black;
}

.slider__next {
  height: 52px;
  padding: 0 30px;
  border: 1px solid $black;
  border-left: none;
}

.slider__nav {
  display: flex;
}
