.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin: 0 20px;
}

.social__link {
  display: block;
}

.social__link--instagram {
  position: relative;
  width: 22px;
  height: 21px;
  font-size: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 22px;
    height: 21px;
    background-image: url(../../img/icon-insta.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.social__link--facebook {
  position: relative;
  width: 15px;
  height: 28px;
  font-size: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 15px;
    height: 28px;
    background-image: url(../../img/icon-fb.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.social__link--twitter {
  position: relative;
  width: 23px;
  height: 20px;
  font-size: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 23px;
    height: 20px;
    background-image: url(../../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
}
