$background-body: #ffffff;
$d-grey: #444444;
$black: #000000;
$light-gray: #f1f1f1;
$tiffany: #63d1bb;
$tiffany--hover: #59d5bc;
$tiffany-dark: #56c3b2;
$tiffany-dark--hover: #46c1ae;
$white: #ffffff;
$tablet-width: 768px;
$desktop-width: 1150px;
$slider-botton: #ececec;
$border-light: #ececec;
$toogle-hover: #c7c7c7;
